@{
    ViewBag.Title = "About";
}

<div class="container" style="width:100%">
    <h1 style="text-align:center">Our Story</h1>

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <p style="text-align:center;font-size:30px;">How  we got started-and where we're going</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <img src="~/images/aboutuber.jpg" style="width:100%" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p style="font-size:25px;text-align:center;margin-top:2%;">It started as a simple idea: What if you could request a ride from your phone? More than 5 billion trips later, we’re working to make transportation safer and more accessible, helping people order food quickly and affordably, reducing congestion in cities by getting more people into fewer cars, and creating opportunities for people to work on their own terms.</p>
        </div>
    </div>
    <div class="row" style="margin-top:2%;">
        <div class="col-md-5">
            <p>OFFERINGS</p>
            <p style="font-size:30px">Rides and beyond</p>
            <p style="font-size:25px;">
                In addition to helping you get from point A to point B, we're working to bring the future closer with self-driving technology and urban air transport, helping people order food  quickly and affordably, removing barriers to healthcare, creating new freight-booking solutions, and helping companies provide a seamless employee travel experience.
            </p>
        </div>
        <div class="col-md-7">
            <img src="~/images/ourstory1.jpg" style="width:100%;" />
        </div>
    </div>
    <div class="row" style="margin-top:2%;background-color:#d6f5f5">
        <div class="col-md-7">
            <p style="font-size:30px">Safe rides, safer cities</p>
            <p style="font-size:25px;">
                Whether you’re in the back seat or behind the wheel, your safety is essential. We are committed to doing our part, and technology is at the heart of our approach. We partner with safety advocates and develop new technologies and systems to help create a world where it’s safe and easy for everyone to get around.
            </p>
        </div>
        <div class="col-md-5" style="margin-top:1%;">
            <img src="~/images/ourstory2.jpg" style="width:100%;" />
        </div>
    </div>
    <div class="row" style="margin-top:2%;background-color:#767bd4">
        <div class="col-md-6" style="margin-top:7%">
            <p style="color:#d6f5f5">CAREERS</p>
            <h1 style="color:white">You've got drive. We've got oppurtunities</h1>
        </div>
        <div class="col-md-6" style="margin-top:2%;margin-bottom:2%">
            <img src="~/images/ourstory3.png" />
        </div>
    </div>

</div>



