
@{
    ViewBag.Title = "Requirements";
}
<link href="~/Content/Requirements.css" rel="stylesheet" />
<div class="container">
    <div class="row">
    <div class="col-md-12" style="margin-top:1%;">
        <div class="col-md-6">
            <p style="margin-top:2%;"><b style="font-size:x-large;">Driver requirements</b></p>
            <div class="panel">
                <p style="font-size:x-large;margin-top:7%;">How to drive with Uber</p>
                <p style="font-size:large">Make money driving people around your city. Sign up now to get more information about driving in your city.</p>
            </div>
        </div>

        <div class="col-md-5">
            <div style="">
                <img src="~/images/driver.jpg" style="width:100%;" />
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default" style="background-color:#e6d9d9;margin-top:1%;padding:1%;">
            <div style="margin-left:2%;">
                <div class="_style_bsxwn" data-reactid="321">Hit the road, start earning!</div>
                <div style="font-size:xx-large;">Get Started</div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8" style="font-size:x-large;">1. Signup online</div>
                    
                </div>
                <div class="row"style="">
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <img src="~/images/signup.png" style="width:100%;" />
                        </div>
                                <div class="col-md-6" style="font-size:large;">Got an email address and a cell phone? Great, now give us a bit more information and start earning immediately!</div>
                        
                    </div>

                </div>

                <div class="row" style="margin-top:1%;">
                    <div class="col-md-2"></div>
                    <div class="col-md-8" style="font-size:x-large;">2. Upload Your Document</div>

                </div>
                <div class="row" style="">
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <img src="~/images/upload.png" style="width:100%;" />
                        </div>
                        <div class="col-md-6" style="font-size:large;">Time for some paperwork. Here are the documents we need to see:
<ul>
    <li>A valid National ID Card (Can be obtained from your nearest NADRA office. You need one of parent's original NIC and your Child Registration Certificate OR your old original ID card)</li>

    <li>Valid Driving License (This can be obtained from any traffic licensing office, and you will need your learner's license, National ID card, fee, 2 passport size photos and doctor's certificate to obtain a new one)</li>

    <li>Vehicle Registration Document (To obtain a new one, you need CNIC, proof of purchase, registration number fee, proof of residence, application form and taxes. Can be obtained from authorized dealers or excise office)</li>

    <li>
        A driver profile photo
        <ul>
            <li>
                Must be a forward-facing, centered photo including the driver’s full face and top of shoulders, with no sunglasses
            </li>
            <li>
                Must be a photo only of the driver with no other subject in the frame, well-lit, and in focus. It cannot be a driver’s license photo or other printed photograph

            </li>
        </ul>


    </li>
    </ul>
  </div>

                    </div>

                </div>



                <div class="row" style="margin-top:1%;">
                    <div class="col-md-2"></div>
                    <div class="col-md-8" style="font-size:x-large;">3. Get A Vehicle</div>

                </div>
                <div class="row" style="">
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <img src="~/images/getcar.png" style="width:80%;" />
                        </div>
                        <div class="col-md-6" style="font-size:large;">People like to ride in nice cars. Let’s give them what they want. Make sure that your vehicle is in excellent working and physical condition.

                        </div>

                    </div>

                </div>





                <div class="row" style="margin-top:2%;">
                    <div class="col-md-2"></div>
                    <div class="col-md-8" style="font-size:x-large;">4. Activate your account</div>

                </div>
                <div class="row" style="">
                    <div class="col-md-12">
                        <div class="col-md-2" style="margin-bottom:1%;margin-top:0;">
                            <img src="~/images/car-steering.jpg" style="width:70%;" />
                        </div>
                        <div class="col-md-6" style="font-size:large;margin-top:1%;">
                            If you’ve completed all the above steps, congratulations! Activate your account and hit the road.

                        </div>

                    </div>

                </div>


            </div>
        </div>
    </div>
</div>




<div class="row container" style="background-color:#e2d5d5;padding:2%;">
    <div class="col-md-12">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <div class="col-md-12" style="font-size:x-large">
                Ready to make money?
            </div>
            <div class="col-md-12" style="color:#7e7070;font-size:x-large">
                The first step is to sign up
            </div>
            <div class="col-md-3">
                <button class="btn btn-dark" style="width:100%;background-color:black;color:white;">SIGN UP TO DRIVE</button>
            </div>
        </div>

    </div>

</div>

 </div>