
<link href="~/Content/TaxiVSOber.css" rel="stylesheet" />
<h1 class="col-ms-12" align="center">Driving jobs</h1>
<h3 class="col-md-12" align="center">vs driving with Uber</h3>
<br /><br />
<div class="row">
    <div class="col-md-12">
        <img src="~/images/UberVCabs.png" style="width:100%;" />
    </div>
</div>
<br /><br />

<div style="width:100%;text-align:justify;">
    <h1>
        Opportunity for all
        <br />Make money behind the wheel
    </h1><br />

    <h3 style="text-align:justify;">
        Interested in making money behind the wheel? You’re in the right place. In fact, if you’re interested in partnering with Uber or looking for an alternative to being a taxi, bus, or limo driver, this guide provides information to help you decide on the right opportunity. Below you’ll get details about driving requirements, licensing, and average earnings for each type of job.
    </h3>
</div>
<h1 class="col-ms-12" style="text-align:justify;">
    How many people
    earn money driving?
</h1>
<h3 class="col-md-12" style="text-align:justify;margin-left:-1.5%;">A lot Millions of people in the United States earn money by driving. The most popular driving job in the country is truck driving, with over 1.7 million workers.1 But did you know that you can also drive your own car to earn money using Uber? Driving with Uber is a newer opportunity that has only been around since 2012. Despite this, it’s growing quickly because of the earning potential and flexible schedule. Let’s compare.</h3>

<div class="content-block">
    <div class="layout row">
        <div class="layout__item four-fifths portable-one-whole push--bottom">
            <h1 style="margin-left:1%">What do you need<br>to start driving?</h1>
        </div>
    </div>
    <div class="layout">
        <div class="layout__item one-third lap-one-half palm-one-whole push--bottom col-md-4">
            <img src="https://d1a3f4spazzrp4.cloudfront.net/chameleon/cms/uploads/2016/5/2/1462150765-car_icon.png" width="200" alt="" title="">
            <h3 class="push-small--top">Uber partner</h3>
            <h4>
                <ul>
                    <li>Minimum age of 21 years</li>
                    <li>Vehicle model year 2001 or newer (2006 in some cities)</li>
                    <li>Pass a background check</li>
                </ul>
            </h4>
        </div>
        <div class="layout__item one-third lap-one-half palm-one-whole push--bottom col-md-4">
            <img src="https://d1a3f4spazzrp4.cloudfront.net/chameleon/cms/uploads/2016/5/2/1462150764-taxi_icon.png" width="200" alt="" title="">
            <h3 class="push-small--top">Taxi driver</h3>
            <h4>
                <ul>
                    <li>Minimum age of 21 years</li>
                    <li>Pay an application fee</li>
                    <li>Pass a background check</li>
                    <li>May get fingerprinted</li>
                </ul>
            </h4>
        </div>
        <div class="layout__item one-third lap-one-half palm-one-whole push--bottom col-md-4">
            <img src="https://d1a3f4spazzrp4.cloudfront.net/chameleon/cms/uploads/2016/5/2/1462150387-bus_icon.png" width="200" alt="" title="">
            <h3 class="push-small--top">Bus driver</h3>
            <h4>
                <ul>
                    <li>Minimum age of 22 years</li>
                    <li>Pass a background check</li>
                    <li>Pass a training program</li>
                </ul>

            </h4>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6" style="text-align:justify;width:100%">
        <h1>What to consider when looking at different driving opportunities</h1>
        <h3>Like any opportunity, there are pros and cons to consider with each alternative. For example, when you drive a taxi you often have to work on a set schedule and pay to rent a car from a taxi company. And when you partner with Uber, you need to cover your own gas and vehicle expenses. Before you decide, make sure to consider all the factors.</h3>
    </div>
</div>
<input type="button" class="btn btn-primary" value="SIGN UP WTIH UBER" style="width:auto">
<br /><br /><br />



<div class="row">
    <div class="col-md-12">
        <img src="~/images/uber-v-taxi-driver.jpg" style="width:100%" />
    </div>
</div>
<br /><br />

<div class="content-block">
    <div class="layout">
        <div class="layout__item four-fifths portable-one-whole push--bottom">
            <h1 class="push--ends all-oppty">Find featured opportunities<br>in the following cities</h1><br /><br />
            <div class="layout row">
                <div class="layout__item one-third palm-one-whole lap-one-half col-md-4">
                    <p class="lead push-tiny--ends portable-flush--top"><a href="https://www.uber.com/driving-opportunities/los-angeles/" class="text-uber-black">Los Angeles</a></p>
                    <p><a href="https://www.uber.com/driving-opportunities/los-angeles/part-time-driver/">Part-time driver</a><br><a href="https://www.uber.com/driving-opportunities/los-angeles/full-time-driver/">Full-time driver</a><br><a href="https://www.uber.com/driving-opportunities/los-angeles/college-students/">For college students</a><br><a href="https://www.uber.com/driving-opportunities/los-angeles/delivery-driver/">Delivery driver</a></p>
                </div>
                <div class="layout__item one-third palm-one-whole lap-one-half col-md-4">
                    <p class="lead push-tiny--ends portable-flush--top"><a href="https://www.uber.com/driving-opportunities/new-jersey/" class="text-uber-black">New Jersey</a></p>
                    <p><a href="https://www.uber.com/driving-opportunities/new-jersey/part-time-driver/">Part-time driver</a><br><a href="https://www.uber.com/driving-opportunities/new-jersey/full-time-driver/">Full-time driver</a><br><a href="https://www.uber.com/driving-opportunities/new-jersey/college-students/">For college students</a></p>
                </div>
                <div class="layout__item one-third palm-one-whole lap-one-half col-md-4">
                    <p class="lead push-tiny--ends portable-flush--top"><a href="https://www.uber.com/driving-opportunities/philadelphia/" class="text-uber-black">Philadelphia</a></p>
                    <p><a href="https://www.uber.com/driving-opportunities/philadelphia/part-time-driver/">Part-time driver</a><br><a href="https://www.uber.com/driving-opportunities/philadelphia/full-time-driver/">Full-time driver</a><br><a href="https://www.uber.com/driving-opportunities/philadelphia/college-students/">For college students</a></p>
                </div>
            </div>
            <div class="row">
                <div class="layout__item one-third palm-one-whole lap-one-half col-md-4">
                    <p class="lead push-tiny--ends portable-flush--top"><a href="https://www.uber.com/driving-opportunities/san-francisco/" class="text-uber-black">San Francisco</a></p>
                    <p><a href="https://www.uber.com/driving-opportunities/san-francisco/part-time-driver/">Part-time driver</a><br><a href="https://www.uber.com/driving-opportunities/san-francisco/full-time-driver/">Full-time driver</a><br><a href="https://www.uber.com/driving-opportunities/san-francisco/college-students/">For college students</a><br><a href="https://www.uber.com/driving-opportunities/san-francisco/delivery-driver/">Delivery driver</a></p>
                </div>
                <div class="layout__item one-third palm-one-whole lap-one-half col-md-4">
                    <p class="lead push-tiny--ends portable-flush--top"><a href="https://www.uber.com/driving-opportunities/boston/" class="text-uber-black">Boston</a></p>
                    <p><a href="https://www.uber.com/driving-opportunities/boston/part-time-driver/">Part-time driver</a><br><a href="https://www.uber.com/driving-opportunities/boston/full-time-driver/">Full-time driver</a><br><a href="https://www.uber.com/driving-opportunities/boston/college-students/">For college students</a></p>
                </div>
                <div class="layout__item one-third palm-one-whole lap-one-half col-md-4">
                    <p class="lead push-tiny--ends portable-flush--top"><a href="https://www.uber.com/driving-opportunities/chicago/" class="text-uber-black">Chicago</a></p>
                    <p><a href="https://www.uber.com/driving-opportunities/chicago/part-time-driver/">Part-time driver</a><br><a href="https://www.uber.com/driving-opportunities/chicago/full-time-driver/">Full-time driver</a><br><a href="https://www.uber.com/driving-opportunities/chicago/college-students/">For college students</a><br><a href="https://www.uber.com/driving-opportunities/chicago/delivery-driver/">Delivery driver</a></p>
                </div>
            </div>
            <div class="row">
                <div class="layout__item one-third palm-one-whole lap-one-half col-md-4">
                    <p class="lead push-tiny--ends portable-flush--top"><a href="https://www.uber.com/driving-opportunities/dallas/" class="text-uber-black">Dallas</a></p>
                    <p><a href="https://www.uber.com/driving-opportunities/dallas/part-time-driver/">Part-time driver</a><br><a href="https://www.uber.com/driving-opportunities/dallas/full-time-driver/">Full-time driver</a><br><a href="https://www.uber.com/driving-opportunities/dallas/college-students/">For college students</a><br><a href="https://www.uber.com/driving-opportunities/dallas/delivery-driver/">Delivery driver</a></p>
                </div>
                <div class="layout__item one-third palm-one-whole lap-one-half col-md-4">
                    <p class="lead push-tiny--ends portable-flush--top"><a href="https://www.uber.com/driving-opportunities/miami/" class="text-uber-black">Miami</a></p>
                    <p><a href="https://www.uber.com/driving-opportunities/miami/part-time-driver/">Part-time driver</a><br><a href="https://www.uber.com/driving-opportunities/miami/full-time-driver/">Full-time driver</a><br><a href="https://www.uber.com/driving-opportunities/miami/college-students/">For college students</a></p>
                </div>
                <div class="layout__item one-third palm-one-whole lap-one-half col-md-4">
                    <p class="lead push-tiny--ends portable-flush--top"><a href="https://www.uber.com/driving-opportunities/washington-dc/" class="text-uber-black">Washington D.C.</a></p>
                    <p><a href="https://www.uber.com/driving-opportunities/washington-dc/part-time-driver/">Part-time driver</a><br><a href="https://www.uber.com/driving-opportunities/washington-dc/full-time-driver/">Full-time driver</a><br><a href="https://www.uber.com/driving-opportunities/washington-dc/college-students/">For college students</a><br><a href="https://www.uber.com/driving-opportunities/washington-dc/delivery-driver/">Delivery driver</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

